body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $body-color;
  // background-color: #f5f8fa;
}

html {
    height: 100vh;
}

body, #app {
    height: 100%;
}

code {
    font-family: "Source Code Pro" !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

code.normal {
    font-size: 100% !important;
    font-weight: 400 !important;
}

.v-can-hidden {
    display: none !important;
}

.logo {
    height: $logo-size;
    width: $logo-size;
    display: inline-block !important;
    vertical-align: middle;
}

.login-header {
    text-align: center;
}

.notification-info {
    margin-left: -.5rem;
}

.btn-fab {
    padding: 0;
    height: 1.8rem;
    width: 1.8rem;
}

.btn-fab.active {
    border-color: var(--bs-btn-active-border-color);
}

.btn-fab-sm {
    padding: 0;
    height: 1.25rem;
    width: 1.25rem;
    font-size: 0.8rem;
    line-height: normal;
}

.btn-fab-md {
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.7rem;
    line-height: normal;
}

.btn-fab-list > .btn-fab, .btn-fab-list > .btn-fab-sm {
    margin-right: 0.25rem;
}

.btn-fab-list > .btn-fab:last-child, .btn-fab-list > .btn-fab-sm:last-child {
    margin-right: 0;
}

.language-quick-select button {
    overflow: hidden;

    .flag {
        font-weight: bold;
    }
}
.multiselect-placeholder {
    /**
        This creates a text ellipsis on the multiselect plachoder.
        It's quite verbose, as it's by default a flex element,
        and we need to override it to a block element.
    */
    display: inline-block !important;
    height: auto !important;
    align-self: anchor-center; /* not supported by firefox! */
    top: initial !important; /* fixes vertical alignment for firefox */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
