body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $body-color;
    // background-color: #f5f8fa;
}

html {
    height: 100vh;
}

body,
#app {
    height: 100%;
}


code {
    font-family: "Source Code Pro" !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

code.normal {
    font-size: 100% !important;
    font-weight: 400 !important;
}

.v-can-hidden {
    display: none !important;
}

.logo {
    height: $logo-size;
    width: $logo-size;
    display: inline-block !important;
    vertical-align: middle;
}

.login-header {
    text-align: center;
}

.notification-info {
    margin-left: -.5rem;
}

.input-group-prepend {
    button.btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        div {
            min-width: 75px;
        }
    }
}

.input-group-append {
    button.btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.selected {
    color: $blue;
}


.space-below {
    margin-bottom: 2rem;
}


.title-header {
    min-height: 1.5rem;
}

@for $i from 1 through 6 {
    .title-header > h#{$i} {
        margin-bottom: 0;
    }
}
