.font-weight-medium {
    font-weight: $font-weight-medium !important;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.color-yellow {
    color: $yellow !important;
}

.p-2-5 {
    padding: 0.75rem;
}

.ps-2-5 {
    padding-left: 0.75rem;
}

.pe-2-5 {
    padding-right: 0.75rem;
}

.pt-2-5 {
    padding-top: 0.75rem;
}

.pb-2-5 {
    padding-bottom: 0.75rem;
}

.px-2-5 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-2-5 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.ms--4 {
    margin-left: -1.5rem;
}

.ms--4-5 {
    margin-left: -2rem;
}

.is-invalid + .ms--4-5 {
    margin-left: -3.25rem;
}

.text-wrap {
    white-space: pre-wrap;
}

.text-line {
    white-space: pre-line;
}

.flex-grow-1 {
    flex-grow: 1;
}

.reorder-handle, .grab-handle {
    cursor: grab;
}

.reorder-handle:active {
    cursor: grabbing;
}

.copy-handle {
    cursor: copy;
}

.not-allowed-handle {
    cursor: not-allowed;
}

.of-visible, .visible-overflow .v--modal {
    overflow: visible !important;
}

.clickable {
    cursor: pointer;
}

.list-group-xs > .list-group-item {
    padding: 0.5rem 1rem !important;
}

.word-break-all {
    word-break: break-all;
}

.of-hidden {
    overflow: hidden;
}

.scroll-x-hidden {
    overflow-x: hidden;
}

.scroll-x-auto {
    overflow-x: auto;
}

.scroll-y-auto {
    overflow-y: auto;
}

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.border-dashed {
    border-style: dashed !important;
}

.bg-none {
    background: none !important;
}

.numbered-list-wrapper {
    counter-reset: css-counter 0;
}

.numbered-list-wrapper > .numbered-list {
    counter-increment: css-counter 1;
}

.numbered-list-wrapper > .numbered-list:before {
    font-size: $small-font-size;
    color: $text-muted;
    content: counter(css-counter);
}
